<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candidate</title>
</head>
<body align="center"style="background-color:pink;">
    {{n}}<br>
    <a href="{% url 'logout' %}">Log-Out</a><br>
    <a href="{% url 'viewjob' %}">Avilable-Job-List or company list</a><br>
    <a href="{% url 'afajob' %}">Apply For a Job</a><br>
    <a href="{% url 'lwca' %}">list where candidate apply</a><br>
    <a href="{% url 'ucd1' %}">Update candidate details</details></a><br>
</body>
</html>