<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete job</title>
</head>
<body align="center"style="background-color:pink;">
    <form action="{% url 'jobdell' %}" method="POST">
        {% csrf_token %}
        <P>Delete Job</P><br>
        <label>Job-Id</label><br>
        <input type="text" name="jobid"><br><br>
        <input type="submit" value="Delete">
        {% csrf_token %}
    </form>
    {{n}}
</body>
</html>
