<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body align="center"align="center" style="background-color:pink;"></body> 
    <p>Welcome To JobFind</p>
   <a href="http://127.0.0.1:8000/admin/"><p>Admin Login</p></a>
   <a href="{% url 'template1' %}"><P>Candidate Login<br></P></a>
   <a href="{% url 'template2' %}"><P>Candidate SignUp<br></P></a>
   <a href="{% url 'template3' %}"><P>Company Login<br></P></a>
   <a href="{% url 'template4' %}"><P>Company SignUp<br></P></a>
   {{n}}
</body>
</html>